#holder{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
h1{
	margin: 0px;
}
div{
	flex-basis: 100px;
	height: 100px;
}
.one{
	background-color: green;
}
.two{
	background-color: red;
}
.three{
	background-color: blue;
}
/* Your CSS Code here. */